body
{
  margin: 0;
  font-family: Calibri, Arial;
  color: rgb(0, 0, 0);
  background-color: lightgoldenrodyellow;
  font-size: 25px;
  text-align: center;
}

h1 
{
  text-align: center;
}

#logo
{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 70px;
  height: auto;
}

.grid 
{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.profile 
{
  border: 1px solid #ccc;
  padding: 1em;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.profile 
{
  border: 1px solid #ccc;
  padding: 1em;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.profile 
{
  border: 1px solid #ccc;
  padding: 1em;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.profile img 
{
  width: 100%;
  border-radius: 50%;
}

